 .sobre{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 700px;
    text-align: center;
    height: 80vh;
    align-items: center;
    

}

.sobre h2{
    font-size: 40px;
   
    margin-bottom: 1em;
}

.sobre h2 span{
    font-weight: bold;
    font-size: 45px;
    
}

.sobre p {

    font-size: 25px;
    margin-bottom: 1em;
    
}







.btn{
    background: rgba(102, 228, 196, 0.486);
    border-radius: 25px;
    width: 170px;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    font-weight: 800;
    color: rgb(17, 16, 16);
    transition: 2ms;   
    text-decoration: none;
    text-align: center;
    border: #333 2px solid;
}

.btn:hover{

    background: rgba(0, 128, 0, 0.521);
    color: #333;
} 