
.wrapper_container{

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    margin: auto;
    background-color: rgba(252, 249, 249, 0.986);
    padding: 2em 0;
    margin-top: 5em;
    margin-bottom: 15em;
    height: 40vh;
   

}

.wrapper_container h1{
    margin: 0.2em 0;
    font-size: 42px;
    color: rgb(12, 12, 12);
    background: linear-gradient(115deg, #020202 10%, #085c2b 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     
    
}



.wrapper_container h3{
    margin-bottom: 1.5em;
    background: linear-gradient(115deg, #020202 10%, #085c2b 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 18px;
    font-weight: 700;
    color: white;
    
}
.formulario{

    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.forms{
    
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.forms ::placeholder{
    color: rgba(19, 18, 18, 0.637);
    
}

.forms span{
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(7, 7, 7);
    
}

.forms input {

    border: none;
    background-color: rgba(14, 13, 13, 0);
    border-bottom: 1px solid #0a0a0a;
    padding: 10px;
    width: 400px;
    caret-color: rgb(5, 5, 5);
    outline: none;
    color: rgb(10, 10, 10);
    
}

.forms input:focus {
    outline: none;
    border-bottom: 1px solid #070707;
}

.btn{
    background: linear-gradient(115deg, #080808 10%, #07350f 90%);
    border-radius: 25px;
    width: 170px;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    font-weight: 800;
    color: rgb(247, 244, 244);
    transition: 2ms;
    display: block;
    margin: auto;
}

.btn:hover{

    background: linear-gradient(115deg, #56d8e491 10%, #a001ea9a 90%);
    color: #333;
}
.error{
    width: 350px;
    background-color: rgba(255, 0, 0, 0.329);
    border-radius: 25px;
    color: black;
    text-align: center;
    padding: 10px 13px ;
    font-weight: 900;
}
