.wrapper_container{
    height: 100vh;
    margin-top: 5em;
}
.acoes{
    display: flex;
    justify-content: space-between;
    margin: 0em 15em ;
    
    

}

p {
    color: #333;
}
.acoes h3 {
    font-size: 40px;
    margin-bottom: 1em;
}

.acoes span{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: .6em;
   
}

.btn {

    text-decoration: none;
    color: #333;
    background-color: #81f5a3;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
}

.acoes_btn{
    display: flex;
    gap: 1em;
}

.acoes_2{
    display: flex;
    justify-content: space-between;
    margin: 0 15em;
    align-items: end;
    border-bottom: 2px solid #333;
    padding: 5px;
    

}


.btn {

    text-decoration: none;
    color: #333;
    background-color: #81f5a3;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    width: 80px;
    text-align: center;
    margin-top: .5em;
}


.btn_excluir {

    text-decoration: none;
    color: #faf8f8;
    background-color: #ce0707;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    width: 80px;
    text-align: center;
    cursor: pointer;
    margin-top: .5em;
}