
.wrapper_container{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2em 0;
    text-align: center;
    justify-content: center;

}

.wrapper_container h2{
    margin: 0.2em 0;
    font-size: 42px;
    color: rgb(7, 7, 7);
    
     
    
}


 
.wrapper_container p{
    margin-bottom: 1.5em;
    font-size: 18px;
    font-weight: 700;
    color: rgb(3, 3, 3);
    text-align: center;
    
}


.formulario{

    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-align: center;
    align-items: center;
}

.forms{
    
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.forms ::placeholder{
    color: rgba(7, 7, 7, 0.664);
    
}

.forms span{
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(7, 7, 7);
    
}


.forms textarea {

    border: none;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid #020202;
    padding: 10px;
    width: 400px;
    caret-color: rgb(3, 3, 3);
    outline: none;
    color: rgb(3, 3, 3);
    
}

.forms input {

    border: none;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid #070707;
    padding: 10px;
    width: 400px;
    caret-color: rgb(3, 3, 3);
    outline: none;
    color: rgb(0, 0, 0);
    
}

.forms input:focus {
    outline: none;
    border-bottom: 1px solid #030303;
}

.btn{
    background: linear-gradient(115deg, #191d18 10%, #0d2c16 90%);
    border-radius: 25px;
    width: 170px;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    font-weight: 800;
    color: rgb(5, 5, 5);
    transition: 2ms;
    display: block;
    margin: auto;
}

.btn:hover{

    background: linear-gradient(115deg, #0c310a91 10%, #18151a9a 90%);
    color: #333;
}
.error{
    width: 350px;
    background-color: rgba(255, 0, 0, 0.329);
    border-radius: 25px;
    color: black;
    text-align: center;
    padding: 10px 13px ;
    font-weight: 900;
}