.container {
    width: 900px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 3em;
}

.container h1{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 1em;
}

.container h2{
    margin: 1em 0 ;
}

.container p {
    max-width: 40vw;
    text-align: left;
    padding-bottom: 1em;
}

.container h3{
    
    padding-bottom: .2em;
    font-size: 22px;
}

.tags{
    display: flex;
    gap: .5em;
}