.footer{

    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top:  2px solid #050505;


}