.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1.5em 6em;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    align-items: center;
    border-bottom: #fdfdfd 2px solid;
    

}

.blog{
    text-decoration: none;
    font-size: 25px;
    color: #9f01ea;
    font-weight: 500;
}

.blog span{

    color: rgb(255, 255, 255);
    font-weight: bold;
    
}

.list {
    display: flex;
    list-style: none;
    gap: 35px;
    
    
}

.list a{
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    padding: 5px 15px;
    font-weight: 500;
    transition: 2ms;

    
}

.list a:hover{

    color: black;
    font-weight: 600;

}