.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1.5em 6em;
    background: #ffffff;
    align-items: center;
    border-bottom: #333 2px solid;
    

}

.blog{
    text-decoration: none;
    font-size: 25px;
    color: #333333c4;
    font-weight: 500;
}

.blog span{

    color: #333;
    font-weight: bold;
    
}

.list {
    display: flex;
    list-style: none;
    gap: 35px;
    
    
}

.list a{
    text-decoration: none;
    font-size: 20px;
    color: #333333d0;
    padding: 5px;
    font-weight: 500;
    transition: 2ms;

    
}

.list a:hover{

    color: black;
    text-decoration: dotted;
    border-bottom: 2px solid #333;

}
