 .container_post{

    display: flex;
    flex-direction: column;
    margin-top: 3em;
    padding-bottom: 3em;
    box-sizing: border-box;
    align-items: center;
}


.container_post h2 {
    margin-top: 1em;
    font-size: 26px;
   
}

.container_tags{
    display: flex;
    gap: .7em;
    margin-top: 1em;
    margin-bottom: 1em;
}


.ler {

    border: 1px solid #333;
    width: 70px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding:10px ;
} 