*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(74, 240, 215, 0.308) 100%);
  color: #333;
  align-items: center;
  text-align: center;
}

img {
  border-radius: 5px;
  width: 800px;
  height: 700px;
}

button {

    background: #bbecb134 ;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin-left: .5em;
}
