
.wrapper_container{

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0);
    padding: 2em 0;
    border-radius: 9px;
    height: 80vh;

}

.wrapper_container h2{
    margin: 0.2em 0;
    font-size: 42px;
    
    background: linear-gradient(115deg, #070707 10%, #06301e 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     
    
}



.wrapper_container p{
    margin-bottom: 1.5em;
    background: linear-gradient(115deg, #070707 10%, #06301e 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 18px;
    font-weight: 700;
   
    text-align: center;
    
}
.formulario{

    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.forms{
    
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.forms ::placeholder{
    color: rgba(7, 7, 7, 0.466);
    
}

.forms span{
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    
    
}


.forms textarea {

    border: none;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid #000000;
    padding: 10px;
    width: 400px;
    caret-color: rgb(14, 13, 13);
    outline: none;
  
    
}

.forms input {

    border: none;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid #080808;
    padding: 10px;
    width: 400px;
    caret-color: rgb(10, 10, 10);
    outline: none;
    
    
}

.forms input:focus {
    outline: none;
    border-bottom: 1px solid #070707;
}

.btn{
    background: linear-gradient(115deg, #070707 10%, #06301e 90%);
    border-radius: 25px;
    width: 170px;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    font-weight: 800;
    color: white;
    transition: 2ms;
    display: block;
    margin: auto;
}

.btn:hover{

    background: linear-gradient(115deg, #07070796 10%rgba(6, 48, 30, 0.61)1e 90%);
    color: #333;
}
.error{
    width: 350px;
    background-color: rgba(255, 0, 0, 0.329);
    border-radius: 25px;
    color: black;
    text-align: center;
    padding: 10px 13px ;
    font-weight: 900;
}
